* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root{
    /* Inserta la variable de los otros colores inspeccionando el exemplo de figma */
    /*Se esforce para trabalhar com variáveis, é uma dica profissional valiosa*/
   --cor-de-fundo: #F5F5F5;
   --cor-de-link: #000;
}

body {
    box-sizing: border-box;
    font-family: 'Raleway';
    margin: 0;
    padding: 0;
    line-height: 1;
}
body{
  align-content: center;
  background-image: url(../imagenes/KwbR.gif);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
}

/* gif:https://i.gifer.com/KwbR.gif */

.title__div{
  width: 90%;
    min-height: 100vh;
    max-width: 1160px;
    padding: 200px 0;
    margin: auto;
    display: flex;
    justify-content:center;
    align-items: center;
}
.presentacion__container{
  font-size: 18px;
}
.title__bio{
font-size:50px;
font-family:fantasy;
}

.title__subsection{
  font-size:
  color: #0a3871;
  font-weight: 300;
  float: left;
  position: relative;
  font-family:fantasy;
  border-left: 1px solid #000;
  animation: cursor .5s infinite,
  maquina 4s infinite,  steps(21,end);
  white-space: nowrap;
  overflow: hidden;
}
@keyframes cursor {
  0% {border-color: transparent}
  50%{border-color: darkblue}
}
@keyframes maquina {
  from{width: 0}
    to{width: 100%}
}

ul .title__network{
  display: inline;
  /* margin: arriba derecha abajo izq*/
  margin: 5% 30% 5% 0;
  display: flex;
  justify-content:space-around;
}

.title__network a{
  color: black;
  font-weight: bold;
  font-size: 22px;
  text-decoration: none;
}
.title__network a:hover{
  color: #c78c19;
}

.boton1{
  margin:10px;
  padding: 0.5px;
  width: 150px;
  height: 40px;
  background: #ffffff;
  color: #0a3871;
  border: 1px solid #0a3871;
  border-radius:10px;
}
.boton1:hover{
      background-color: #ffcc00;
      color: darkblue;
      box-shadow: 23px 14px 30px 14px rgba(0,0,0,0.75);
      transition: .2s;
}
/*Sección About*/

#sobre-mivida{
  background:#78288c;
  padding-top: 30px;
  padding-bottom: 20px;
  margin: 0 auto;
  box-sizing: border-box;
}

.sobre_mi{
  margin:20px;
  padding: 10px;
}
/* margin: arriba derecha abajo izq*/
.profile{
    padding: 20px;
    margin: 10 40 10 30;
    display: flex;
    justify-content:space-around;
    align-items: center;
}

.about__title{
 font-size: 50px;
 font-weight:bold;
 font-family:fantasy;
 color: #ffffff;
 text-align: center;
}
.photo{
  margin: 20px;
  padding: 20px;
}
.about__container{
    margin: 20px;
    padding: 20px;
}

.about__paragraph{
  font-size: 20px;
  font-family: calibri;
  font-weight:normal;
  color:#ffffff;
}

#skills{
  margin:0 auto;
  padding-bottom: 30px;
  padding-bottom: 30px;
  box-sizing: border-box;
}

.skills__title_center{
  margin:20px;
  padding-top:30px;
  padding-bottom: 20px;
}
.skills__title{
  font-size: 50px;
  font-weight:bold;
  font-family:fantasy;
  text-align: center;
}
.skills__line{
  flex-flow: row wrap;

}
.skills__line{
   display: flex;
    order: 2;
    flex-basis: 100%;
    text-align: center;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: stretch;
    align-content: flex-start;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 45px;
    margin-right: 45px;
    gap: 10px 10px;
}
.skills__box{
   display: flex;
    max-width: 100%;
    flex-flow: column;
    margin-top: 15px;
    margin-bottom: 10px;
    margin: 10px;
    box-shadow: 0 0 10px 0 rgb(0 0 0 / 20%);
    transition: 0.3s;
    border-radius: 15px;
    width: 140px;
    height: 175px;
    flex-direction: column;
    background: white;
    text-align: center;
}
.skills__box ul{
  list-style-type:none;
  margin:5;
  margin-top: 10px;
  padding: 0;
  align-items: center;
}
.skills__img{
    max-width: 120px;
    max-height: 120px;
    padding-top: 20px;
    margin-left: 30px;
    margin: auto;
}

.skills__name{
  order: 2;
    padding: 0;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 400;
    letter-spacing: 0;
    color: rgb(116, 116, 116);
    text-align: center;
    justify-content: center;
    margin:10px;
}

/*footeer*/
#footer{
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 20px;
  background:#b488bf;
}
.container{
  padding-top: 30px;
  padding-bottom: 20px;
}

.copyright{
  background-color:#78288c;
  width: 100%;
  padding-top: 30px;
  padding-bottom:15px;
  margin:0 auto;
}
.copyright__rodape{
  font-weight: 400;
    font-family: 'Rubik', sans-serif;
    letter-spacing: 1px;
    font-size: 16px;
    color: rgb(255, 255, 255);
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
}

/* Vamos a desafiarnos trabajando con responsividad?
Utiliza las referencias de los breakpoints @media abajo */


/*Tablet*/
@media (min-width: 768px) {

/* Menú */

/*title*/

/*Skills*/

/*Hobbies*/

/*Formación Académica*/

/*Experiencia Profesional*/

}

/*Mobile*/
@media (min-width: 425px) {

/*Menu*/

/*Titulo*/

/*Sección sobre mi*/

/*Skills*/

/*Hobbies*/

/*Formación Académica*/

/*Experiencia Profesional*/

 /*Contacto*/

/*Footer*/

}
